@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

$Raj: 'Rajdhani', sans-serif;
$Raleway: 'Raleway', sans-serif;

$green1: #275d38;
$green2: #00843d;
$green3: #48a23f;
$green4: #78be20;
$green5: #c5e86c;
$darkRed: #823b34;
$red: #e1523d;
$darkOrange: #d45d00;
$orange: #ffb500;
$yellow: #fbdb65;
$purple: #595478;
$blue: #0095c8;
$babyBlue: #bdd6e6;
$teal: #00bfb3;
$lightTeal: #86c8bc;
$darkGray: #696158;
$gray: #8e8c89;
$coolGray: #a7a8aa;
$lightGray: #d0d0ce;
